## Using Deep Learning to Examine the Association of the Built Environment With Prevalence of Neigborhood Mental Health Issues

Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Data Exploration

In [7]:
# Load csv file
df = pd.read_csv("500_Cities__Mental_health_not_good_for___14_days_among_adults_aged___18_years.csv")
df.columns

Index(['Year', 'StateAbbr', 'StateDesc', 'CityName', 'GeographicLevel',
       'DataSource', 'Category', 'UniqueID', 'Measure', 'Data_Value_Unit',
       'DataValueTypeID', 'Data_Value_Type', 'Data_Value',
       'Low_Confidence_Limit', 'High_Confidence_Limit',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'PopulationCount',
       'GeoLocation', 'CategoryID', 'MeasureId', 'CityFIPS', 'TractFIPS',
       'Short_Question_Text'],
      dtype='object')

In [6]:
df.describe()
numerical_df = df.drop(['Year', 'StateAbbr', 'StateDesc', 'CityName', 'GeographicLevel',
       'DataSource', 'Category', 'UniqueID', 'Measure', 'Data_Value_Unit',
       'DataValueTypeID', 'Data_Value_Type', 'Data_Value',
       'Low_Confidence_Limit', 'High_Confidence_Limit',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'PopulationCount',
       'GeoLocation', 'CategoryID', 'MeasureId', 'CityFIPS', 'TractFIPS',
       'Short_Question_Text'])

,Year,Data_Value,Low_Confidence_Limit,High_Confidence_Limit,CityFIPS,TractFIPS
count,29006.0,28212.000000,28212.000000,28212.000000,2.900400e+04,2.800400e+04
mean,2016.0,13.097115,11.859397,14.417071,2.607162e+06,2.593797e+10
std,0.0,3.371893,3.135327,3.616578,1.686484e+06,1.675674e+10
min,2016.0,4.100000,3.100000,5.700000,1.500300e+04,1.073000e+09
25%,2016.0,10.500000,9.400000,11.700000,6.813440e+05,8.001009e+09
50%,2016.0,12.700000,11.500000,13.900000,2.622000e+06,2.608100e+10
75%,2016.0,15.300000,14.000000,16.800000,4.055000e+06,4.010911e+10
max,2016.0,29.400000,26.600000,32.600000,5.613900e+06,5.602100e+10